[build]
  command = "middleman build --verbose"
  publish = "build"

[[headers]]
  for = "*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy = "default-src 'self' https: blob:; font-src 'self' https: data:; img-src 'self' https: data:; object-src 'none'; worker-src 'self' blob: ; script-src 'self' https: 'unsafe-inline'; style-src 'self' https: 'unsafe-inline'; upgrade-insecure-requests"
    Strict-Transport-Security = "max-age=15552000; includeSubDomains"
    Referrer-Policy = "no-referrer-when-downgrade"
    Access-Control-Allow-Origin = "*"
    Cache-Control = "public, max-age=604800, s-max-age=604800"

[[headers]]
  for = "/*.(png|jpg|js|css|svg|woff|ttf|eot|ico)"
  [headers.values]
    Cache-Control = "public, max-age=31536000, s-max-age=31536000"

[[redirects]]
  from = "/wp-login.php"
  to = "/new-path"
  status = 301

[[redirects]]
  from = "/wp-admin"
  to = "/"
  status = 301

[[redirects]]
  from = "/github-integration-deprecation-notice"
  to = "/github-integration-deprecation-notice.html"
  status = 301

[[redirects]]
  from = "/api"
  to = "/github-integration-deprecation-notice.html"
  status = 301

[[redirects]]
  from = "/contact-us"
  to = "/"
  status = 301

[[redirects]]
  from = "/roadmap"
  to = "/"
  status = 301

[[redirects]]
  from = "/privacy-policy"
  to = "/github-integration-deprecation-notice.html"
  status = 301

[[redirects]]
  from = "/terms-of-service"
  to = "/github-integration-deprecation-notice.html"
  status = 301

[[redirects]]
  from = "/cookie-policy"
  to = "/github-integration-deprecation-notice.html"
  status = 301

[[redirects]]
  from = "/subprocessors"
  to = "/github-integration-deprecation-notice.html"
  status = 301
